

<div class="card" style="text-align: center; width: 18rem; margin: 0 auto; text-align:center; margin-top: 100px;">
  <div class="card-body">
     <%= @cat_facts_hash %>
  </div>
</div>

<div class="return">
  <a href="/dogs">Back to Search</a>
</div>
