<h1 class="dogResultHeader"><%=@user_dog.capitalize%></h1>

<div class="dogImage">
<img src=<%= @dog_hash %> style="border-radius: 50%">
</div>


<div class="return">
  <a href="/dogs">Back to Search</a>
</div>
