<h1>Please choose a dog</h1>

<div class="searchdog">
<form action="/dog_image">
  <label for="form_dog">
 </label>
  <input id="form_first_number" name="dog" text="text">


  <button>
    Search!
  </button>
</form>

</div>

<div class="randomDog">
  <h3>Click here to be surpised!</h3>
   <button><a href="/random_dog">Surpise Me!</a></button>
</div>
