
<div class="animal-card d-flex justify-content-around">
<div class="card" style="text-align: center; width: 28rem;  margin-top: 200px; margin: 0 auto;">
    <img class="card-img-top" src=<%= @random_dog_hash %> alt="Card image cap">
  <div class="card-body">
   <h5>Here is a random dog picture to brighten your day</h5>
  </div>
</div>
</div>

<div class="return">
  <a href="/dogs">Back to Search</a>
</div>
