<h1>Here is a random dog picture to brighten your day</h1>

<div class="dogImage">
<img src=<%= @random_dog_hash%> style="border-radius: 50%">
</div>

<div class="return">
  <a href="/dogs">Back to Search</a>
</div>
