body {
  background-color: #FFE8D6;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  font-family: 'Dancing Script', cursive;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Roboto', sans-serif;
}

.dogResultHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-family: 'Dancing Script', cursive;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Roboto', sans-serif;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.searchdog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

.dogImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 50px;
}

.randomDog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button {
  border-radius: 30px;
  background-color: #CB997E;
}

.return {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

img {
  border-radius: 50%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDBEA9;
  margin-top: 300px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}
